body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    font-size: 4rem;
}
button{
    padding: 1.5rem;
    background-color: rgb(239, 31, 23);
    border: rgb(0, 0, 0);
    border-radius: 0.5rem;
    

}